@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    background-color: rgb(255, 255, 255);
  }


   .rat {
    height: 75px;
   }
  .rat ul {
    font-family: 'Bungee Inline', cursive;
    /* background-color: rgb(169, 169, 99); */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rgb(169, 169, 99); */
  }

  /* .rat .act{
    font-family: 'Bungee Inline', cursive;
    border-radius: 10px;
    background-color: rgb(169, 169, 99);
    font-size: larger;
    height: 45px;
    display: inline-block;
    border: none; 
    margin: 4px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 4px;
    text-decoration: none;
  } */
 
  
  /* CSS */
  .rat .act {
    background-color: rgb(169, 169, 99);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: inline-flex;
    /* flex-direction: column; */
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    /* position: relative; */
    margin: 13px 7px;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 120px;
    /* position: relative; */
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .rat .act:focus {
    outline: 0;
  }
  
  .rat .act:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .rat .act:hover:after {
    bottom: 2px;
    left: 2px;
  }
/*   
  @media (min-width: 768px) {
    .button-53 {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
  } */
  
  

  /* .rat .act:hover{
    cursor: pointer;
    background-color: black;
    color: white;
  } */
  .head{
    display: flex;
    flex-direction: row;
    background-color: rgb(169, 169, 99);
  }

    .head h2{
    /* cursor: alias; */
    font-family: 'Bungee Inline', cursive;
    font-size: x-large;
    background-color: rgb(169, 169, 99);
    display: flex;
    width: 700px;
    /* flex-wrap: wrap; */
    flex-direction: column;
    float: center;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    padding: 14px 10px;
    text-decoration: none;
  }
  .head img{
    margin: 14px 10px;
    background-color: rgb(169, 169, 99);
  }


  html {
    background: #ffffff;
    background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .subtle {
    font-family: 'Bungee Inline', cursive;
    font-size: large;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

   .downSubtle{
    font-family: 'Bungee Inline', cursive;
    display: flex;
    margin: auto;
    font-size: large;
    margin-top: 5px;
    margin-right: 0px;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 130px;
    align-items: right;
  }

  .downSubtle:hover {
    background: rgb(255, 5, 5);
    color: black;
  }
  
  .main-card--cointainer {
   
    background-color: rgb(169, 169, 99);
   
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    grid-gap: 50px;
    justify-content: space-around;
  }
  
  .card-container {
    border: 6px solid rgb(255, 255, 255);
    border-radius: 12px;
  
    margin: 10px auto 0;
 
    margin-bottom: 15px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .card-container img {
    max-width: 100%;
    height: 300px;
  }
  
  .card {
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.07);
    z-index: 1;
  }
  
  .card-body {
    display: inline-block;
  }
  
  .card-number {
    margin-top: 15px;
  }
  
  .card-circle {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    font-size: 22px;
    height: 25px;
    text-align: center;
    width: 25px;
  }
  
  .card-author {
    display: block;
    font-size: 22px;
    letter-spacing: 0.5px;
    margin: 15px 0 0;
    text-transform: uppercase;
  }
  
  .card-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
    text-transform: capitalize;
  }
  
  .card-description {
    /* display: inline-block; */
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
  }
  
  .card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
  }
  
  .card-read:after {
    background-color: #ffffff;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
  }
  
  .card-tag {
    float: right;
    align-items: center;
    margin: 5px 0 0;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .card-tag:hover {
    background: rgb(255, 5, 5);
    color: black;
  }
  
  .card-media {
    max-width: 200%;
    height: auto;
    place-content: center;
  }
  
  .card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
      0 0 100px 3px rgba(174, 22, 22, 0.25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
  }
  
  @media (max-width: 998px) {
    .main-card--cointainer {
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 500px));
      grid-gap: 50px;
      justify-content: space-around;
      
    }
    .card-container{
      margin: 10px;
    }
  }
  


  /* ---------- Button styles ------------------ */
  
  .navbar {
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
  
  .navbar h1 {
    padding-bottom: 20px;
    text-transform: capitalize;
  }
  
  /** button group styles **/
  .btn-group {
    border: 4px solid rgb(206, 81, 81);
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20px;
    text-transform: capitalize;
  }

  

  .btn-group__item {
    border: none;
    padding: 1.5rem 3rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    box-shadow: inset 0px 0px 0px -15px #000000;
    transition: all 300ms ease-out;
    text-transform: capitalize;
  }
  /* .btn-group__item:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .btn-group__item:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  } */
  .btn-group__item:hover,
  .btn-group__item:focus {
    color: rebeccapurple;
    box-shadow: inset 0px -20px 0px -15px rebeccapurple;
  }
  .btn-group__item:focus {
    outline: none;
  }
  .btn-group__item:after {
    content: "✔️";
    margin-left: 0.5rem;
    display: inline-block;
    color: rebeccapurple;
    position: absolute;
    transform: translatey(10px);
    opacity: 0;
    transition: all 200ms ease-out;
  }
  .btn-group__item--active:after {
    opacity: 1;
    transform: translatey(-2px);
  }
  

  @media (max-width: 595px){
    footer{
      background-color: black;
      /* margin-top: 10px; */
      font-size: 12px;
      font-weight: bold;
      height: 299px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Cormorant Garamond", serif;
    }
    
    .btn-group{
      border: none;
      margin-left: 5px;
      margin-right: 5px;
    }

    .btn-group__item{
      display: block;
      /* flex-direction: column; */
      font-size: 5px;
      padding: 1px 1px;
    }
  }
 

  /* footer  */
footer{
  background-color: black;

  font-size: 22px;
  font-weight: bold;
  height: 69px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
}

/* Rating component  */
.container h1{
  font-family: 'Bungee Inline', cursive;
}
.container{
  margin: 120px 580px;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating>input {
  display: none;
}

.rating>label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating>input:checked~label,
.rating>input:checked~label~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating>input:not(:checked)~label:hover,
.rating>input:not(:checked)~label:hover~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after {
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji-wrapper:after {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji>svg {
  margin: 15px 0;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked~.emoji-wrapper>.emoji {
  transform: translateY(-100px);
}

#rating-2:checked~.emoji-wrapper>.emoji {
  transform: translateY(-200px);
}

#rating-3:checked~.emoji-wrapper>.emoji {
  transform: translateY(-300px);
}

#rating-4:checked~.emoji-wrapper>.emoji {
  transform: translateY(-400px);
}

#rating-5:checked~.emoji-wrapper>.emoji {
  transform: translateY(-500px);
}

.feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
}


/* Contact */


.container1{
  margin: 80px 409px;

}

.card {
  /* Styling */
  width: 700px;
  height: 400px;
  background: rgb(247, 189, 189);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);  
  
  /* Card flipping effects */
  transform-style: preserve-3d;
  transition: 0.6s; 
}
.side {
  position: absolute;
  width: 91%;
  height: 86%;
  backface-visibility: hidden;
  /* Fix Chrome rendering bug */
  transform: rotate(0deg) translateZ(1px);
}

/* Flip the card on hover */
.container1:hover .card,
.back {
  transform: rotateY(-180deg) translateZ(1px);
}

/* Front styling */
.front {
  /* Center the name + outline (almost) */
  

  line-height: 330px; /* Height - some (because visual center is a little higher than actual center) */
  text-align: center;
}
.logo {
  outline: 1px solid #19F6E8;
  display: inline-block;
  padding: 15px 40px;
  
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 8px;
}

/* Back styling */
.back {
  background: #ffffff;
  /* padding: $padding; */
}
.name {
  color: #3B3B3B;
  margin-bottom: 0;
}
p {
  margin: 0.8em 0;
}
.info {
  
  position: absolute;
 
  color: #3b3b3b;
}
.property {
  color: #ffffff;
}
.info p{
  font-family: 'Roboto', sans-serif;
}

/* Make semi-responsive */
@media (max-width:700px) {
  .card { transform: scale(.5); }
  .container:hover .card { transform: scale(.5) rotateY(-180deg) translateZ(1px); }
}

